*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    justify-content: space-between;
    display:flex;
    align-items: center;
    background-color: #213b52;

}
.header h2{
    margin: 20px;
    color: white;
    padding-left: 120px;
    font-family: roboto,sans-serif;
}
.header ul{
    display: flex;
    padding-right: 100px;
}
.header li{
    padding: 10px;
    list-style: none;
}
#get{
    border: 2px solid  goldenrod;
    border-radius: 25px;

}
#get li a{
    color: #ffff;
    width: 50%;
}
#get:hover{
    background-color:  goldenrod;
}
#get a:hover{
    color: black;
}
.header a{
    text-decoration: none;
    color: #adc7de;
}
 #me li a{
    color: #ffff;
}
.firstleft{
    background-color: #213b52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 15%;
}
.firstleft h1{
   color:  #adc7de;;
    padding-top: 10%;
    font-size: 50px;
    width: 75%;
    padding-left: 120px;
    font-family: "Poppins", sans-serif;;

}
.firstleft p{
padding-left: 135px;
margin-bottom: 30px;
padding-top: 10px;
color: white;
font-size: 120%;
}
#logo{
    width: 50%;
    padding: 0 50px 0 0;
}
 #logo img{
    width: 100%;
}
.firstleft button{
    width: 30%;
    height: 40px;
    background-color: goldenrod;
    border: 2px solid goldenrod;
    border-radius: 25px;
    margin-left: 130px ;
}
.firstleft button:hover{
    background-color: #213b52;
    color: white;
}
.hv1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4%;
    background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}
#pics1{
    width: 35%;
    margin-left: 7%;
    margin-bottom: 85px;
    height: 60vh;
}
.fa-solid{
    width: 30%;
    color: #fdc134;
    font-size: 45px;
    
}


.abt-text{
    width: 57%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #213b52;
    font-family: 'Open Sans', sans-serif;
}
#pics1 img{
    width: 100%;  
    height: 85vh;  
    padding-top: 10px;
    object-fit: cover;
 
}
.abt-text #abt{
    width: 83%;
    padding-top: 15px;
    font-size: 17px;
    margin: auto;
}
.abt-text p {
    padding-top: 2%;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

.abt-text h2{
    font-weight: 700;
    font-size: 34px;
    color: #213b52;
}
.abt-text #imp{
    width: 34%;
    padding-top: 5%;
    font-size: 15px;
    color: #848484;
    margin: auto;
    display: flex;
}
.abt-text #imp i{
    margin-right: 10px;
}
.abt-text h4{
    color: #213b52;
    font-size: 20px;
    font-weight: 700;
}
.serve{
    margin-top: 10%;
    width: 100%;
}
.services h2{
    padding-top: 50px;
    margin: auto;
    text-align: center;
    color: #213b52;
    font-size: 30px;
}
.services .tiny{
    width: 100px;
    height: 3px;
    bottom: 0px;
    left: calc(50% - 20px);
    background: rgb(253, 193, 52);
    margin-left: 47%;
}
.services{
    margin-top: 5%;
    width: 100%;
    background: linear-gradient(rgb(242, 246, 250) 0%, rgb(255, 255, 255) 100%);
}
.all-boxes{
    margin-top: 10%;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding-top: 3%;
    
}
.boxx{
    position: relative;
    width: 95%;
    margin-bottom: 30px;
    
}
.read{
   align-items: center;
    width: 35%;
    padding-left: 20px;
    padding-top: 20px;
}
.read p{
    font-size: 14px;
    color: #777777;
}
.arrow{
    fill: #777777;
    margin-top: 10px;
    width: 14px;
}
.image{
    max-width: 100%;
}
.image img{
    width: 100%;
}
.white{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px;
    background: rgb(255, 255, 255);
    border-top: 4px solid rgb(255, 255, 255);
    width: 85%;
    margin: auto;
    /* margin-left: 3rem; */
    position: relative;
    height: 40vh;
    margin-top: -10%;
}
.white h4{
    padding-top: 15px;
}
.boxx:hover{
    /* border-top: 4px solid #fdc134 ; */
    transition: 0.32s;
}
.boxx:hover .image{
    transform: scale(1.05);
    transition: ease-in;
}
.boxx:hover h4{
    color: #fdc134;
    transition: 0.30s;
    
}
.services h4 {
    background-color: #fff;
    text-align: center;
    color: #213b52;
    font-size: 25px;
}
.services p{
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    width:  80%;
    color: #444444;
    padding-top: 10px;
}


.price #pr{
    font-size: 30px; 
    text-align: center; 
    padding-top : 5%;
    color: #213b52;
    font-family: "Poppins", sans-serif;
}
.price .tiny{
    width: 100px;
    height: 3px;
    bottom: 0px;
    left: calc(50% - 20px);
    background: rgb(253, 193, 52);
    margin-left: 46%;
}
.price{
    background: linear-gradient(rgb(242, 246, 250) 0%, rgb(255, 255, 255) 100%)
}
.price #pic8{
width: 85%;
margin: auto;
margin-top: 6%;
padding-bottom: 80px;
}
.h6{
    background: linear-gradient(rgb(242, 246, 250) 0%, rgb(255, 255, 255) 100%)
}
.h6 h2{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #213b52;
    padding-top: 4%;
}
#ou h3{
    
    color: #777777;
    font-size: 20px;
    font-weight: 700;
}
.h6 .tiny{
    width: 100px;
    height: 3px;
    bottom: 0px;
    left: calc(50% - 20px);
    background: rgb(253, 193, 52);
    margin-left: 46%;
}
.all{
    display: flex;
    width: 95%;
    margin-top: 3%;  
    padding: 10px 125px;  
}
#ou{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 30px rgba(214, 215, 215, 0.6);
    margin: 10px 20px;
    height: 30vh;
}
#ou h3{
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    padding-top: 75px;
}
#ou p{
    color: #444444;
    font-size: 14px;
    line-height: 25px;
}

.econ h3{
    
    color: #777777;
    font-weight: 700;
    padding-top: 75px;
}
.add p{
    line-height: 25px;

}
.add{
    text-align: center;
    background-color: white;
    box-shadow: 0 0 30px rgba(214, 215, 215, 0.6);
    width: 100%;
    margin: 10px 20px;
    height: 30vh;
}
.ads{
    float: left;
}
.econ{
    display: flex;
}
#input{
    float: right;
    background-color: white;
    box-shadow: 0 0 30px rgba(214, 215, 215, 0.6);
    height: 100%;
    padding: 20px;
    margin-top: 10px;
}
form button{
    position: relative;
    background-color: #ffa500;
    padding: 10px;
    width: 10vw;
    border: none;
    margin: 10px 5px;
    cursor: pointer;
    text-align: center;
    left: 35%;
}
#area{
    padding: 10px 15px;
    width: 98%;
    margin: 5PX;
    resize: vertical;
    height: 20vh;
    font-size: 14px;
}
#sub{
    width: 98%;
    margin: 5px ;
}
.all input{
    padding: 10px 15px;
    margin: 5px;
}
.in{
    display: flex;
}
.h6::after{
    content: " ";
    display: table;
    clear: both;
}
footer{
background-image: url(asset/footer-bg.jpg);
width: 100%;
background-position: center;
background-size: cover;
height:60vh;
margin-top: 5%;
}
footer #ent{
    position: relative;
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 36px; 
    font-weight: 700;
}
footer #ent p{
    font-size: 14px;
    margin: 30px 0;
    font-family: 'Open Sans', sans-serif;
}
footer form{
    width: 40%;
    margin: auto;
    height: 40px;
    text-align: center;
    position: relative;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

footer form .email{
    width: 60%;
    border: none;
    height: 100%;
    border-radius: 15px  15px;
    padding-left: 10px;
}

footer form .submit{
    width: 25%;
    height: 100%;
    border: none;
    background-color: #fdc134;
    border-radius: 25px;
    color: #fff;
}
footer #copy{
    border-top: 1px solid #000;
    padding-top: 28px;
    position: relative;
    margin: 70px;
    color: #fff;
} 
.cover{
    background-color: rgba(26, 45, 63, 0.8);
    height: 100%;
}


@media screen and (max-width: 900px) {
    #hv{
        width: 80%;
    }
    #hv h2{
        font-size: 25px;
        padding: 0 5% 0 5%;
        
    }
    #nav{
        display: none;
    }
    .firstleft{
        width: 100%;
        padding-bottom: 50%;
        flex-direction: column;
    }
    .firstleft h1{
        padding: 0 5% 15px 10%;
        width: 100%;
    }
    .firstleft p{
        padding: 0 2% 0 10%;
    }
    #logo{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }
    #pics1{
        position: absolute;
    }
    #pics1 img{
        height: 42vh;
        width: 100%;
        background-size: cover;
    }
   #pics1 {
    width: 90%;
   }
   .abt-text{
    padding-top: 100%;
    flex-direction: column;
    width: 100%;
   }
   .abt-text #imp{
    width: 72%;
   }
   
   .all-boxes{
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
   }
   .boxx{
   }
   
   .image img{
    width: 100%;
   }
   .boxx p{
    font-size: 13px;
   }
   .white{
    margin: -20px 0 0 17px;
    height: 29vh;
   }
   
  
   
  
}